* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page {
	height: auto;
	width: 100%;
	min-height: 100vh;
	display: flex;
	place-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: azure;
}

.controls_wrapper {
	width: 100%;
	padding: 1rem;
	display: flex;
	margin: 0 auto;
	max-width: 1024px;
	flex-direction: column;
}

.btn_wrapper {
	gap: 1rem;
	margin: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.todo_wrapper {
	width: 100%;
	gap: 0.2rem;
	display: flex;
	max-width: 1024px;
	margin-bottom: 1rem;
	flex-direction: column;
	justify-content: center;
}

.to-do_wrapper {
	gap: 0.5rem;
	display: flex;
	font-size: 25px;
	place-items: center;
	flex-direction: row;
	font-family: "Roboto";
	justify-content: center;
}

.to-do_wrapper input {
	height: 32px;
	width: 20px;
	border: none;
}

.input {
	width: 100%;
	padding: 0.3rem;
	border: none;
	border-radius: 10px;
	background-color: white;
	border: 1px solid blue;
}

.todoimg{
	height: 350px;
}

.title {
	font-size: 2rem;
	font-family: "Roboto";
	text-align: center;
}

.btn {
	border: none;
	padding: 0.4rem;
	border-radius: 10px;
	font-size: 20px;
	background-color: white;
	box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
}

.add {
	color: whitesmoke;
	text-shadow: 1px 1px black;
	background-color: rgb(118, 189, 12);
}

.add:hover {
	background-color: green;
}

.clear {
	color: whitesmoke;
	text-shadow: 1px 1px black;
	background-color: rgb(223, 16, 13);
}

.clear:hover {
	background-color: rgb(141, 0, 0);
}
